* {
    color: whitesmoke;
    background-color: rgb(40, 40, 40);
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

head {
    display: none;
}

.active li {
    background-color: darkred;
}