* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  color: black;
  box-sizing: border-box;
}

header {
  padding: 20px;
}

main {
  display: flex;
}

.sidebar-nav,
.sidebar-nav-title {
  width: 150px;
}

.note-container {
  padding: 0px;
}

.nav-list-folders {
  display: none;
}

.active-nav {
  display: block;
}

.nav-list-folders li {
  padding: 8px;
}

.form-group {
  padding: 5px;
  text-align: left;
}

.form-group label {
  padding: 5px;
}

.note-item,
.note-list-item {
  border: 2px solid black;
  padding: 10px;
}

.active li {
  background-color: darkslategrey;
  color: whitesmoke;
}
